# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Laravel
/src/laravel_project/vendor/
/src/laravel_project/.env
/src/laravel_project/storage/logs/
/src/laravel_project/bootstrap/cache/

# Entornos
.env
*.env

# MySQL data
mysql_lab_data/
*.pyc
*.pyc
/src/API_LAB/app/router/__pycache__
